<%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "タイトル検索", class: "search-input" %>
  <%= form.submit "🔎", class: "search-btn" %>
<% end %>

<div class="questions-row">
  <% @questions.each do |question| %>
    <div class="question">

      <div class="image">
        <%= image_tag question.image.variant(resize:'800x850') if question.image.attached? %>
      </div>

      <div class="questioner">
        <%= question.user.nickname %>
      </div>

      <div class="text">
        <%= question.text %>
      </div>

      <div class="answer-link">
        <%= link_to "解答", question_path(question.id) %>
      </div>

    </div>
  <% end %>
</div>