<div class="whole">
    <div class="input-forms">
      <%= form_with(model: @question, local: true) do |f| %>

        <div class="input-field">
          <%= f.label :image, '問題図', class: 'question-image' %><span class="hissu">必須</span><br />
          <p class="image-text">ファイルを選択</p>
          <%= f.file_field :image %>
        </div>

        <div class="input-field">
          <div class="text">
            <%= f.label :text, 'ひとこと' %><span class="hissu">任意</span><br />
            <%= f.text_area :text, placeholder: 'ヒントなど', size: "10x5" %>
          </div>
        </div>

        <div class="input-field">
          <div class="answer">
            <%= f.label :text, '解答' %><span class="hissu">必須</span><br />
            <%= f.text_area :text, placeholder: '例：７６歩' %>
          </div>
        </div>

        <div class="input-field">
          <div class="answer">
            <%= f.label :text, '解説' %><span class="hissu">任意</span><br />
            <%= f.text_area :text, placeholder: '想定される変化', size: "10x5" %>
          </div>
        </div>

      <% end %>
    </div>
</div>