<div class="whole">

  <div class="question">
    <div class="image">
      <%= image_tag @question.image.variant(resize:'800x850') if @question.image.attached? %>
    </div>
    <div class="answer">
      <%= @question.answer %>
    </div>
    <div class="commentary">
      <%= @question.commentary %>
    </div>
  </div>

  <div class="kifu-text">
    <textarea id="fe_text" name="" rows="10" cols="40"><%= @question.kifu %></textarea>
  </div>

  <div class="user_btn">
    <% if user_signed_in? && current_user.id == @question.user_id %>
    <div class="edit">
      <%= link_to "編集", edit_question_path(@question.id), method: :get, class: "edit-btn" %>
    </div>
    <div class="destroy">
      <%= link_to "削除", question_path(@question.id), method: :delete,  class: "destroy-btn" %>
    </div>
    <% end %>
  </div>

</div>