<div class="container">
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :nickname, 'ニックネーム' %><br />
      <%= f.text_field :nickname, placeholder: '', autofocus: true, size: "25x1", class: "inner"  %>
    </div>

    <div class="field">
      <%= f.label :email, 'メールアドレス' %><br />
      <%= f.email_field :email, size: "25x1", class: "inner" %>
    </div>

    <div class="field">
      <%= f.label :password, 'パスワード(6文字以上の半角英数字混合)' %><br />
      <%= f.password_field :password, placeholder: '例：taro123', size: "25x1", class: "inner" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'パスワード(確認)' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", size: "25x1", class: "inner" %>
    </div>

    <div class="field">
      <%= f.submit "登録", class: "inner" %>
    </div><br>

  <% end %>
</div>